## ${note}

module "this" {
  source  = "${source}"
  version = "${version}"
%{ for key, value in variables }
  ${key} = ${replace(jsonencode(value), "\\", "")}%{ endfor ~}

%{ if module_nested_provider != null ~}
  providers = ${jsonencode(module_nested_provider)}%{ endif ~}

}


data "tfe_outputs" "this" {
  for_each = { for workspace in ${linked_workspaces} : workspace => workspace }

  organization = "${workspace.org}"
  workspace    = replace(each.value, "/[^a-zA-Z0-9_-]+/", "_")
}
